/*
Theme Name: Comes & Bebes
Theme URI: https://https://injunior.com.br/
Author: Time 7
Author URI: https://https://injunior.com.br/
Description: Tema Comes E Bebes desenvolvido pelo
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Version: 1.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwenty
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/



/* INICIO: HEADER */

.header-content {
    background-color: #7A247D;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.header-left-group {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    width: 100%;
    justify-items: center;

    padding: 5px;
}

#searchform {
    display: flex;
    flex-direction: row;
}

.btn-order {
    margin-left: 150px;

    border: 0;
    background-color: #F5C661;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000;
    padding: 5px 20px;
}

.icon {
    padding: 5px;
    color: #F5C661;
    font-size: 24px;
}

#s {
    width: 400px;
    margin: 5px 10px;
    background-color: #7A247D;
    border: 0;
    border-bottom: 2px solid #F5C661;

}

#s:focus {
    outline: none !important;
}

/* FIM: HEADER */

/* INICIO: FOOTER */

footer {
    display: flex;
    flex-direction: column;
}

.footer-title {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    background-color: #7A247D;

    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #FAFAFA;

}

.visit-store {
    background-color: #7A247D;

    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
}

.footer-left-group {
    width: 50%;

}

.footer-right-group {
    width: 50%;
}

/*IMAGEM FOOTER*/
.widget_block:nth-child(1) {
    list-style-type: none;
    padding: 50px 50px 50px 50px;
}

/*Endereço FOOTER*/
.widget_block:nth-child(2) {
    list-style-type: none;
    padding-left: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

/*Telefone FOOTER*/
.widget_block:nth-child(3) {
    list-style-type: none;
    padding-left: 50px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

/*Imagem Loja Física FOOTER*/
.widget_block:nth-child(4) {


    list-style-type: none;
    width: 70%;
}



.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F5C661;
}


/* FIM: FOOTER */

/* LANDPAGE : HEADER*/


.header-section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;

    align-items: center;

    background-color: #7A247D;
}

.header-section h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

    color: #F5C661;

    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

}

.header-section p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #FAFAFA;

}

/* LANDPAGE : HEADER*/


/* INICIO LANDPAGE : PRINCIPAL*/

.principal {
    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-items: center;

    padding: 15px;
    background-color: #E7FAFE;
}

.p-title {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #333333;
}

.btn-options {

    border: 0;
    background-color: #F5C661;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000;
    padding: 5px 20px;
}

/* FIM LANDPAGE : PRINCIPAL*/

/* INICIO: SECTION LISTS*/
.p-lists {
    display: flex;
    flex-direction: column;
}

.list-product {
    display: flex;
    flex-direction: row;
}

/* FIM: SECTION LISTS*/